.container {
    flex-direction: column;
    margin: 3% 0;
}

.card {
    margin: 2% 2% 2% 0 !important;
    transition: all .2s ease-in-out;
}

.arena {
    border-style: double;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.city {
    text-align: center;
    font-size: 13px;
    color: #696969;
}

.score {
    text-align: center;
}

.logo {
    height: 40px;
    width: 40px;
}

.noGames {
    padding: 1% 2% 1% 2%;
    font-family: 'Times New Roman', Times, serif;
    border-style: solid;
    border-color: #000000;
    background-color: Transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    margin-top: 4%;
    font-size: 25px;
    color: #000000;
    box-shadow: 100px;
}